---
// import component
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<title>Sparkk</title>

<MainLayout title="Sparkk">
    <div class="forground">
        <a class="header">
            <img src="/PfpIcon 1.png" style="width:100px;height:100px;">
            <div class="horizontalgap" style="width:15px"></div>
            <h1>Sparkk✨</h1>
        </a>
        <div class="box">About Me</div>
        <div class="textarea">
            <p>Hello, my name is Sparkk!</p>
            <h2>
                I am a scripter, graphic designer, bad clothing designer,
                coolest person, better thean you (btw), not weird (trust), and
                game developer
            </h2>
        </div>
        <a class="button" href="https://devforum.roblox.com/u/spa_rkk/summary">
            Devforum Profile
        </a>
        <a class="button" href="https://www.roblox.com/users/1609236070/profile">
            Roblox Profile
        </a>
    </div>
</MainLayout>
